@media (min-width: 576px){
    #header{
        border-bottom: 4px solid #FFD100;
    }
}

#headerBorder{
    border-left: #FCA311 solid 2px;
    border-right: #FCA311 solid 2px;
}

#navbarCustom{
    background-color: #14213D;
}

.nav-item:active{
    background-color: rgba(255, 255, 255, .4);
}

body{
    background-color: #14213D;
    font-family: "Montserrat";
    position: relative;
}

#tiposTituloTexto{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFEE32;
}

#tiposTituloTexto:before, #tiposTituloTexto::after{
    content: '';
    border-top: 2px solid white;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

#tiposTituloTexto:after {
    margin: 0 0 0 20px;
}

#footer{
    background-color: #FFD100;
}

#textoAmarelo{
    color: #FFEE32;
}

.fonteItaliana{
    font-family: "Italiana";
}

.fonteMontserrat{
    font-family: "Montserrat";
}